body {
	background: url("../images/vertical-waves.png");
}

p {
	margin: 15px;
	font-family: Helvetica, sans-serif;
}

.container {
	margin: 10px;
}

.sitcom {
	margin: 5px;
	border: none;
	border-radius: 15px;
	background-color: mediumslateblue;
	color: white;
	padding: 7px 15px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	box-shadow: 3px 3px 2px grey;
}


#add-sitcom {
	margin-top: 10px;
	font-size: 14px;
		font-family: Verdana, sans-serif;

}

#sitcom-form{
	margin: 10px;
}

.image {
	float: left;
	margin: 20px;
}

.rating {
	font-family: "Gotham Bold";
	font-size: 28px;
	font-weight: bold;
}

.gif {
	height: 175px;
}



